<section id="bio" class="premium-bio">
  <div class="bio-inner">
    <div class="profile-image-wrapper">
      <img src="{{site.data.author.dp}}" alt="CyIVA Profile" class="profile-image" />
    </div>
    <div class="bio-info">
      <h1 class="bio-name">CyIVA</h1>
      <p class="bio-role">개발자</p>
      <p class="bio-description">몬스터를 좋아하는<br>다양한 시도를하는</p>
    </div>
    <div class="sns-links">
      {% for i in site.data.author.contact %}
      <a href="{{i.url}}" target="_blank" class="sns-badge">
        {{i.title}}
      </a>
      {%endfor%}
    </div>
  </div>
</section>
