<nav id="top-nav">
  <div class="nav-container">
    <a href="{{site.baseurl}}/" class="nav-item {% if page.url == '/' %}active{% endif %}">Home</a>
    <a href="{{site.baseurl}}/" class="nav-item {% if page.url == '/' or page.layout == 'post' %}active{% endif %}">Post</a>
    <a href="{{site.baseurl}}/history" class="nav-item {% if page.layout == 'history' %}active{% endif %}">History</a>
    <a href="{{site.baseurl}}/project" class="nav-item {% if page.layout == 'project' %}active{% endif %}">Project</a>
    <a href="{{site.baseurl}}/about" class="nav-item {% if page.url == '/about/' %}active{% endif %}">About</a>
  </div>
</nav>
