/* Year Markers */
.vh-year-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray-2);
  opacity: 0.3;
  z-index: 1;
}

.vh-year-label {
  position: absolute;
  left: 0; 
  transform: translate(-120%, -50%); /* Move left outside grid and center Y */
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--gray-1);
  opacity: 0.6;
}
