<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <main>
      {% include header.html %}
      <div class="content">
        <h1>Projects</h1>
        <ul class="post-list">
          {% for project in site.projects %}
            <li>
              <h2>
                <a class="post-link" href="{{ project.url | relative_url }}">{{ project.title }}</a>
              </h2>
              <span class="post-meta">{{ project.date | date: "%b %-d, %Y" }}</span>
              {% if project.description %}
              <p>{{ project.description }}</p>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {% include footer.html %}
    </main>
    {% include category-modal.html %}{% include ui.html %}
  </body>
</html>
